 <div class="header">
        <div class="position-img" ng-click="previous()">
            <img class="img-head" src="img/back-white.png" />
        </div>
        <div class="text-head">Medarbetare</div>
    </div>
    <div id="centerContentTrainingcard" ng-init="initCardValue()">

        <div id="imgPos" ng-show="cardsDone>0"><img src="img/iconmonstr-check-mark-6-icon-48.png"></div>                                                                                                             <a href="#/trainingCard1"><button class="buttons">Träningskort 1</button></a>
        <div id="imgPos" ng-show="cardsDone>1"><img src="img/iconmonstr-check-mark-6-icon-48.png"></div> <div id="imgPos" ng-show="cardsDone<1 || dayDelta < 7"> <img src="img/iconmonstr-lock-3-icon-48.png"></div> <a href="#/trainingCard2"><button class="buttons" ng-class="{locked: cardsDone < 1 || dayDelta < 7 }" ng-disabled="cardsDone < 1 || dayDelta < 7">Träningskort 2</button></a>
        <div id="imgPos" ng-show="cardsDone>2"><img src="img/iconmonstr-check-mark-6-icon-48.png"></div> <div id="imgPos" ng-show="cardsDone<2 || dayDelta < 14"><img src="img/iconmonstr-lock-3-icon-48.png"></div> <a href="#/trainingCard3"><button class="buttons" ng-class="{locked: cardsDone < 2 || dayDelta < 14}" ng-disabled="cardsDone < 2 || dayDelta < 14">Träningskort 3</button></a>
        <div id="imgPos" ng-show="cardsDone>3"><img src="img/iconmonstr-check-mark-6-icon-48.png"></div> <div id="imgPos" ng-show="cardsDone<3 || dayDelta < 21"><img src="img/iconmonstr-lock-3-icon-48.png"></div> <a href="#/trainingCard4"><button class="buttons" ng-class="{locked: cardsDone < 3 || dayDelta < 21}" ng-disabled="cardsDone < 3 || dayDelta < 21">Träningskort 4</button></a>
        <div id="imgPos" ng-show="cardsDone>4"><img src="img/iconmonstr-check-mark-6-icon-48.png"></div> <div id="imgPos" ng-show="cardsDone<4 || dayDelta < 28"><img src="img/iconmonstr-lock-3-icon-48.png"></div> <a href="#/trainingCard5"><button class="buttons" ng-class="{locked: cardsDone < 4 || dayDelta < 28}" ng-disabled="cardsDone < 4 || dayDelta < 28">Träningskort 5</button></a>
        <div id="imgPos" ng-show="cardsDone>5"><img src="img/iconmonstr-check-mark-6-icon-48.png"></div> <div id="imgPos" ng-show="cardsDone<5 || dayDelta < 35"><img src="img/iconmonstr-lock-3-icon-48.png"></div> <a href="#/trainingCard6"><button class="buttons" ng-class="{locked: cardsDone < 5 || dayDelta < 35}" ng-disabled="cardsDone < 5 || dayDelta < 35">Träningskort 6</button></a>
        <!--<button ng-click="cancel()">Avbryt</button>-->
        <br />
        d: <input type="text" data-ng-model="d" /> {{ d }}
        <br />
        c: <input type="text" data-ng-model="c" /> {{ c }}
        <br />
        c*7 {{ c*7 }}
        <br />
        c*7< d: {{ c*7 < d ? true : false }}
        <br />  
        {{g()}}

    </div>