<div class="header">
    <div class="position-img" ng-click="previous()">
        <img class="img-head" src="img/back-white.png" />
    </div>
    <div class="text-head">Träningskort 5</div>
</div>
<br><br>
<div id="alignTheText">
    <p>
        Detta träningskort ska hjälpa dig att <span class="red">utmana</span> dina medarbetare genom att få in NÖHRA FUN i
        ditt coachande förhållningssätt. Kom ihåg att utmana dig själv genom att gå på djupet inom
        varje område. Det gör du genom att ställa fler motfrågor.
    </p>
    <p><b>Ö:</b> Vad vill du uppnå?</p>
    <p class="red">
        <i>
            Varför är det viktigt?
            För vem är det viktigt?
            Vad är det bästa/värsta som kan hända när du når ditt önskade läge?
        </i>
    </p>

    <p><b>N:</b> Hur ligger du till idag?</p>
    <p class="red">
        <i>
            Mellan en skala 1-10, var befinner du dig?
            Vad skulle krävas av dig för att ta ett steg framåt?
        </i>
    </p>

    <p><b>H:</b>Vad är det som hindrar?</p>
    <p class="red">
        <i>
            Vilka utmaningar har du?
            Varför dessa utmaningar?
        </i>
    </p>

    <p><b>R:</b>Vem/vad skulle kunna hjälpa dig att nå ditt önskade läge?</p>
    <p class="red">
        <i>
            Varför just dessa resurser?
            Hur säkerställer du att det är rätt resurser?
        </i>
    </p>
    <p><b>A:</b>Hur ska du konkret göra i nästa givna situation?</p>
    <p class="red">
        <i>
            Vilket resultat förväntar du dig att få då?
            När ska du göra det?
            Hur kan jag få reda på hur bra det gick?
        </i>
    </p>
</div>
<div ng-show="cardsDone>4"><img class="checkmarkTC" src="img/checkmark.png"></div>
<div id="putContentAtBottomAndCenter">
    <button class="doneButtons" ng-click="saveCardNumber('5'); updateSchedule(5)" ng-disabled="cardsDone >=5" ng-class="{lockedDoneButtons:cardsDone>4}">Färdig</button>
</div> 