<div class="header">
    <div class="position-img" ng-click="previous()">
        <img class="img-head" src="img/back-white.png" />
    </div>
    <div class="text-head">Träningskort 6</div>
</div>
<br><br>
<div id="alignTheText">
    <p>
        Detta träningskort handlar om feedback överlag och viktiga komponenter för att nå fram
        med ditt budskap till den du coachar. Kom ihåg att:
    </p>
    <p>Ge feedback så nära inpå händelsen som möjligt.
Separera positiv och konstruktiv feedback och få accept på din återkoppling.
Använd ett jag-budskap: <span class="red">jag upplever</span>
Utgå från olika perspektiv när ni diskuterar vinningen av ett visst beteende – <span class="red">företagets,
medarbetarens eller kundens perspektiv</span>
Nyttja till fullo dina kommunikationsverktyg – kroppsspråk, röst och ord – för att nå fram och
förankra ditt budskap.</p>
</div>
<div ng-show="cardsDone>5"><img class="checkmarkTC" src="img/checkmark.png"></div>
<div id="putContentAtBottomAndCenter">
    <button class="doneButtons" ng-click="saveCardNumber('6'); updateSchedule(6)" ng-disabled="cardsDone >=6" ng-class="{lockedDoneButtons:cardsDone>5}">Färdig</button>
</div>
