<div class="header">
    <div class="position-img" ng-click="previous()">
        <img class="img-head" src="img/back-white.png" />
    </div>
    <div class="text-head">Träningskort 4</div>
</div>
<br><br>
<div id="alignTheText">
<p>
    Detta träningskort hjälper dig att konkretisera din feedback. Träna på att ge feedback utifrån
    VEVAD (Vad, Exempel, Varför, Accept och Direktiv). När du använder VEVAD blir din feedback
    tydlig och mottagaren vet vad den ska fortsätta göra eller göra annorlunda.
</p>
<p class="red">
    <b>Vad:</b> Du sprider positiv energi på jobbet<br>
    <b>Exempel:</b> Du säger alltid godmorgon till alla när du börjar.<br>
    <b>Varför:</b> Det gör att alla är på gott humör när de möter sin första kund.<br>
    <b>Accept:</b> Är du med på hur jag menar?<br>
    <b>Direktiv:</b> Fortsätt hälsa på alla!<br>
<p>
<p>
    Denna vecka ger du feedback till minst en medarbetare varje dag. Lycka till!
</P>
</div>
<div ng-show="cardsDone>3"><img class="checkmarkTC" src="img/checkmark.png"></div> 
<div id="putContentAtBottomAndCenter">
    <button class="doneButtons" ng-click="saveCardNumber('4'); updateSchedule(4)" ng-disabled="cardsDone >=4" ng-class="{lockedDoneButtons:cardsDone>3}">Färdig</button>
</div>

