<div class="header">
    <div class="position-img" ng-click="previous()">
        <img class="img-head" src="img/back-white.png" />
    </div>
    <div class="text-head">Träningskort 6</div>
</div>
<br><br>
<p id="alignTheText">
    En stor del av den första förmiddagen av rättegången mot den 51-årige finansmannen som misstänks för fyra mord och två mordbränder ägnades åt vad mannen gjort den 27 maj i år.
    Då mördades det äldre paret i Norrahammar utanför Jönköping. 51-åringen har erkänt att han dödat dem och anlagt en brand för att dölja sina spår.
    Ställde in timmar innan
    Samma dag var det begravning för paret som avled i branden i västgötska Hökensås. Då trodde alla att de dött i en tragisk olyckshändelse.
    Men nu misstänks i stället den 51-årige mannen ha mördat dem. Han hade ändå tänkt att gå på parets begravning.
    Men i sista stund ställde mannen in.
    – Han skickade ett sms till en anhörig till paret och skrev att han inte kunde komma eftersom en familjemedlem låg på sjukhus, säger åklagaren Pernilla Törsleff under rättegången.
    ”Vi är oroliga som sjutton och har svårt att fokusera på annat. Som du förstår kan vi omöjligen närvara idag och ber om ursäkt för det”, skrev han i sms:et, enligt åtalet.
    I meddelandet uttryckte också mannen sitt deltagande i de anhörigas sorg.
    Bjöd på räkmackor
    Åklagaren hävdar dock att mannen inte alls befann sig på sjukhuset. I stället hävdar hon att han den 27 maj förberedde dubbelmordet på paret i Norrahammar.
    Han ska bland annat ha köpt tändvätska innan han tog med sig ett basebollträ och begav sig till makarnas hem.
    51-åringen hade förvaltat pengar åt paret, som de uppges ha försökt få tillbaka. För att försöka få dem att avstå från kravet hade han med sig räkmackor och champagne som han skulle bjuda dem på, enligt åklagaren.
    – Men det lyckades dock inte, säger åklagaren Pernilla Törsleff.
    Mördade mannen först
    När mannen kom till bostaden var bara mannen hemma. De ska ha ätit räckmackor innan 51-åringen brutalt överföll honom. Efter mordet väntade han in hustrun, som också blev attackerad när hon anlände.
    Därefter satte mannen eld på huset, enligt åtalet.
    Åklagaren hävdar att det finns ekonomiska motiv bakom båda dubbelmorden.
    – Under våren var den misstänktes ekonomiska situation mycket pressad. Jag hävdar att det ligger bakom morden, säger Pernilla Törsleff.
</p>
<div id="imgPosDoneButtons" ng-show="cardsDone>5"><img src="img/iconmonstr-check-mark-6-icon-48.png"></div>
<div id="putContentAtBottomAndCenter">
    <button class="doneButtons" ng-click="saveCardNumber('6'); updateSchedule(6)" ng-disabled="cardsDone >=6" ng-class="{lockedDoneButtons:cardsDone>5}">Färdig</button>
</div>
