<!DOCTYPE html>
<html>
<head>
    <title>TeleCoach</title>
</head>
<body>

    <div class="header">
        <div id="home-header">Hem</div>
    </div>

    <img id="logo" src="img/logo-large.jpg" />
    <!--<a href="#/main">main</a>-->
    <div id="centerContent">
        <a href="#/leader"><button class="buttons">Ledare</button></a>
        <a href="#/coworker"><button class="buttons">Medarbetare</button></a>
        <button ng-click="removeCount()">Ta bort kort</button>
        <button ng-click="removeDate()">Ta bort datum</button>
        
    </div>
</body>
</html>