<!DOCTYPE html>
<html>
<head>
    <title>TeleCoach</title>
</head>
<body>

    <div class="header">
        <div id="home-header">Hem</div>
    </div>

    <img id="logo" src="img/logo-large.jpg" />
    <!--<a href="#/main">main</a>-->
    <div id="centerContent">
        <button class="buttons" ng-click="changeView('/leader')">Ledare</button>
        <button class="buttons" ng-click="changeView('/coworker')">Medarbetare</button>
        <button ng-click="removeCount()">Ta bort kort</button>
        <button ng-click="removeDate()">Ta bort datum</button>
        
    </div>
</body>
</html>