<div class="header">
    <div class="position-img" ng-click="previous()">
        <img class="img-head" src="img/back-white.png" />
    </div>
    <div class="text-head">Träningskort 4</div>
</div>
<br><br>
<div id="alignTheText">
    <p>
        I detta träningskort är det lösningar som står i fokus.
        När vi informerar i samtal vill vi uppfattas som lösningsfokuserade och berätta för kunden vad vi kan göra och undviker att fokusera på vad vi inte kan göra.
        Fokusera i dina samtal på att förmedla lösningar, du hittar några exempel nedan.
    </p>
    <p>
        <span class="red">Det är inget som vi kan hjälpa till med tyvärr</span><br />
        och istället säga:<br />
        <span class="red">För att du ska få hjälp med detta behöver du kontakta…</span>
    </p>
    <p class="copyright">
        Copyright Tele Coaching i Örebro AB ©
    </p>
</div>
<div ng-show="cardsDone>3"><img class="checkmarkTC" src="img/checkmark.png"></div> 
<div id="putContentAtBottomAndCenter">
   <button class="doneButtons" ng-click="saveCardNumber('4'); updateSchedule(4)" ng-disabled="cardsDone >=4" ng-class="{lockedDoneButtons:cardsDone>3}">Färdig</button>
</div> 

