<div class="header">
    <div class="position-img" ng-click="previous()">
        <img class="img-head" src="img/back-white.png" />
    </div>
    <div class="text-head">Träningskort 1</div>
    </div>
    <p>This sticky footer solution is working in all major browsers, including Chrome and IE 8! It works in HTML5 and with floated 2-column layouts and we don't get overlap in resized browser windows unlike older solutions you find when you Google sticky footer. You don't need an empty push div </p>
    <div id="putContentAtBottomAndCenter">
        <button class="doneButtons" ng-click="saveCardNumber('1')" ng-disabled="cardsDone >=1" ng-class="ready: cardsDone == 0, done: cardsDone >= 1">Färdig</button>
    </div> 