<div class="header">
    <div class="position-img" ng-click="previous()">
        <img class="img-head" src="img/back-white.png" />
    </div>
    <div class="text-head">Träningskort 3</div>
</div>
<br><br>
<div id="alignTheText">
    <p>
        I träningskort 3 handlar det om hur information förmedlas.
        När information ges ska den vara tydlig, sträva efter att presentera en korrekt och saklig information på ett strukturerat sätt till kunden.
        Beskriv på ett tydligt sätt vad som <b>har hänt</b>, vad som <b>händer nu</b> och framförallt vad som <b>händer sedan.</b>
    </p>
    <p>Kom ihåg att <span class="red"><b>Berätta vad du gör:</b></span> För att behålla kommandot och förmedla en känsla av aktivitet så berätta löpande vad du gör när du till exempel letar i systemet:</p>
    <p class="red">Jag kollar upp det i systemet nu på en gång.</p>
    <p>Om du behöver titta upp något som tar längre tid förbered kunden på tystnaden genom att berätta att du kommer leta i systemet/höra med en kollega och frågar om det går bra att vänta, exempelvis:</p>
    <p class="red">Jag behöver kolla upp det, går det bra att vänta?</p>
    <p>När jag sedan återvänder till samtalet tackar jag kunden för att han/hon väntat:</p>
    <p class="red">Tack för att du väntade, nu har jag tagit reda på…</p>
    <p class="copyright">
        Copyright Tele Coaching i Örebro AB ©
    </p>
</div>
<div ng-show="cardsDone>2"><img class="checkmarkTC" src="img/checkmark.png"></div>
<div id="putContentAtBottomAndCenter">
    <button class="doneButtons" ng-click="saveCardNumber('3'); updateSchedule(3)" ng-disabled="cardsDone >=3" ng-class="{lockedDoneButtons:cardsDone>2}">Färdig</button>
</div>
