<div class="header">
    <div class="position-img" ng-click="previous()">
        <img class="img-head" src="img/back-white.png" />
    </div>
    <div class="text-head">Träningskort 2</div>
</div>
<br><br>
<div id="alignTheText">
    <p>”Som man frågar får man svar”. Detta träningskort handlar om din frågeteknik. Arbeta aktivt och anpassat med din frågeteknik och ställ öppna och slutna frågor till kunden på ett tydligt och medvetet sätt. Detta för att du ska få reda på den information du behöver för att hjälpa kunden.</p>

    <p class="red"><b>Öppna frågor</b> - öppnar upp för att kunden själv ska beskriva sitt ärende.</p>

    <p class="red">
        <i>
            Vad har du för frågor om kundkommunikation?<br />
            Hur är det med kundbemötandet idag?
        </i>
    </p>

    <p class="red"><b>Slutna frågor</b> – kan kunden bara svara JA eller NEJ på.</p>
    <p class="red">
        <i>
            Har ni arbetat med träningskort tidigare?<br />
            Vill du veta mer om frågeteknik?
        </i>
    </p>
    <p>Avstå ifrån påstående- och negationsfrågor för att undvika missförstånd och otydligheter. Genom att göra om dessa till slutna eller öppna frågor blir din kommunikation tydligare.</p>
    <p class="red">Påståendefrågor som kan göras om till slutna frågor:</p>
    <p class="red">
        Du har inte fått svar?<br />
        <span style="margin-left:2em">→ Har du fått svar?</span><br />
        Du har skickat in synpunkter?<br />
        <span style="margin-left:2em">→ Har du skickat in dina synpunkter?</span>
    </p>
    <p class="copyright">
        Copyright Tele Coaching i Örebro AB ©
    </p>
</div>
<div ng-show="cardsDone>1"><img class="checkmarkTC" src="img/checkmark.png"></div>
<div id="putContentAtBottomAndCenter">
    <button class="doneButtons" ng-click="saveCardNumber('2'); updateSchedule(2)" ng-disabled="cardsDone >=2" ng-class="{lockedDoneButtons:cardsDone>1}">Färdig</button>
</div>
