<div class="header">
    <div class="position-img" ng-click="previous()">
        <img class="img-head" src="img/back-white.png" />
    </div>
    <div class="text-head">Träningskort 1</div>
    </div>
    <br><br>
    <div id="alignTheText">
        <p>Ditt första träningskort fokuserar på inledningen av ett samtal. 
            Alla samtal ska inledas på ett positivt och välkomnande sätt för att skapa ett engagerat första intryck.
        </p>
        <p>
            Träna därför denna vecka på ditt aktiva bemötande.<br />
            Några exempel på ett aktivt bemötande finner du nedan.
        </p>
        <p class="red">
            <i>
                Då ska vi titta på det nu på en gång!<br />
                Det ska jag hjälpa dig med!<br />
                Det ska vi ordna!
            </i>
        </p>
        <p class="copyright">
            Copyright Tele Coaching i Örebro AB ©
        </p>
    </div>
<div ng-show="cardsDone>0"><img class="checkmarkTC" src="img/checkmark.png"></div> 
    <div id="putContentAtBottomAndCenter">
        <button class="doneButtons" ng-click="saveCardNumber('1'); updateSchedule(1)" ng-disabled="cardsDone >=1"  ng-class="{lockedDoneButtons:cardsDone>0}">Färdig</button>
    </div>