<div class="header">
    <div class="position-img" ng-click="previous()">
        <img class="img-head" src="img/back-white.png" />
    </div>
    <div class="text-head">Träningskort 6</div>
</div>
<br><br>
<div id="alignTheText">
    <p>I träningskort 6 är det dags att träna på ordvalet.</p>
    <p>
        <span class="red"><b>Positiva och säkra ordval:</b></span> inger förtroende, säkerhet och ett positivt intryck.
        Använd därför ordval som är säkra och positivt laddade.
    </p>
    <p class="red"><i>Absolut, gärna, hjälpa, lösa, välkommen, javisst, tack, självklart, fixa, ordna, precis, möjlighet, direkt, enkelt, lösning, smidigt</i></p>
    <p>
        <span class="red"><b>Undvika negativa, osäkra ordval och tolkningsbara ordval:</b></span>
        För att undvika att inge ett osäkert, oengagerat och negativt intryck undvik att använda osäkra och negativa ordval.
        Undvik i möjligaste mån att använda dig av tolkningsbara ordval för att inte lägga värdering i samtalet
    </p>
    <p class="red">
        <i>
            Kanske, troligtvis, möjligtvis, eventuellt, tyvärr, dessvärre, måste, inte, bör, koppla, svårt, besvärligt, tråkigt.
        </i>
    </p>
    <p><i>Lång tid, kort tid, stor, liten, strax, snart, ett ögonblick, stund.</i></p>
    <p class="copyright">
        Copyright Tele Coaching i Örebro AB ©
    </p>
</div>
<div ng-show="cardsDone>5"><img class="checkmarkTC" src="img/checkmark.png"></div> 
<div id="putContentAtBottomAndCenter">
  <button class="doneButtons" ng-click="saveCardNumber('6'); updateSchedule(6)" ng-disabled="cardsDone >=6" ng-class="{lockedDoneButtons:cardsDone>5}">Färdig</button>
</div> 
