<div class="header">
    <div class="position-img" ng-click="previous()">
        <img class="img-head" src="img/back-white.png" />
    </div>
    <div class="text-head">Träningskort 5</div>
</div>
<br><br>
<div id="alignTheText">
    <p>
        ”Det sista intrycket du gör i samtalet är det första kunden tar med in till nästa”.
        Detta träningskort syftar därför till att träna på avslutningen i samtalet.
        Tänk därför extra på hur du avslutar dina samtal, när samtalet innehåller mycket information <span class="red"><b>sammanfattar</b></span> jag kort vad samtalet har handlat om för att skapa tydlighet.
    </p>
    <p>
        Träna på att ställa en <span class="red"><b>avslutsfråga</b></span> i slutet av samtalet för att säkerställa att kunden har fått all hjälp den behöver och på det sättet undviker att de behöver ringa in igen rörande samma fråga.
    </p>
    <p class="red">
        <i>
            Är det något annat jag kan hjälpa dig med?<br />
            Är det något mer du undrar över innan vi avslutar?
        </i>
    </p>
    <p>Avsluta sedan samtalet med någonting <span class="red"><b>positivt.</b></span></p>
    <p class="red">
        <i>
            Ha en fortsatt bra dag!<br />
            Trevlig helg!<br />
            Lycka till!
        </i>
    </p>
    <p class="copyright">
        Copyright Tele Coaching i Örebro AB ©
    </p>
</div>
<div ng-show="cardsDone>4"><img class="checkmarkTC" src="img/checkmark.png"></div> 
<div id="putContentAtBottomAndCenter">
    <button class="doneButtons" ng-click="saveCardNumber('5'); updateSchedule(5)" ng-disabled="cardsDone >=5" ng-class="{lockedDoneButtons:cardsDone>4}">Färdig</button>
</div> 